* {
  box-sizing: border-box;
}

#main {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-4:nth-child(1) {
  background-color: #240229;
}

.col-4:nth-child(2) {
  background-color: #639;
}

.col-4:nth-child(3) {
  background-color: #20a81b;
}