.gradient {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #e545ed);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0de);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #e545ed);
}

.gradient span:nth-child(1) {
  filter: blur(5px);
}

.gradient span:nth-child(2) {
  filter: blur(10px);
}

.gradient span:nth-child(3) {
  filter: blur(25px);
}

.gradient span:nth-child(4) {
  filter: blur(50px);
}

.gradient:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #240229;
  border-radius: 50%;
}
